<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="gmail" providerName="lovetrumpshate6969@gmail.com" connectionString="Nmjkiozxsder1"/>
  </connectionStrings>
</configuration>